html
    head
        link(rel="stylesheet" href="index.css")
        title= title
    body
        h1 CHANGES!
        h1 Random string =>
            span= message
    div
        h3 Server hostname:
            span= hostname
    div
        h3 Environment variable:
            span= variable
